.carousel-inner .carousel-item{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-inner .carousel-item ::before{
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.carousel-inner .carousel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 37%;
    left: 0;
    right: 0;
}
.carousel-inner .carousel-item span{
    color: var(--bs-orange);
}
.carousel-inner .carousel-caption h2{
    color: #fff;
    margin-bottom: 7px;
    font-size: 42px;
    font-weight: 600;
    width: 80%;
    margin: 0px auto 30px auto;
}
.servis{
    width: 100%;
    height: auto;
    margin: 35px 0;
}
.servis .servis-box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.servis .servis-box .servis-card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px #E58470 ;
    padding: 15 px 10 px ;
}
.servis .servis-box .servis-card i{
    color: #E58470;
    font-size: 45px;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer ;
}
